<!--explore_job_view.html-->
<div class="alert alert-warning" role="alert">
    <div class="container">
        <div class="alert-icon">
            <i class="now-ui-icons ui-1_bell-53"></i>
        </div>
        <strong>Heads Up!</strong> Sign in to view the full joblisting! <a href="#/account/login">Click Here!</a>
    </div>
</div>

<div class="card container">
  <div class="card-body d-flex h-100">
    <div class="row">
        <div id="companylogo" class="col-md-3">
          <img src="{{job.logourl}}" class="img-thumbnail img-raised"/>
        </div>
        <div id="jobtitle" class="col-md-9 align-middle">
          <h2>{{job.title}}</h2>
          <h3>{{job.company}} in {{job.city}}, {{job.state}}</h3>
        </div>
    </div>
  </div>
</div>

<div class="card container">
  <div class="card-body">
    <div class="row">
        <h2>At a glance...</h2>
        <div id="jobsummary" class="col-sm-12 col-md-12">
          <div class="row">
            <h3>Job Summary</h3>
          </div>
          <div style="white-space: pre-line;">{{job.summary}}</div>
        </div>
    </div>
    <br>
    <div class="row">
        <div id="jobtype" class="col-sm-12 col-md-12">
          <div class="row">
            <h3>Job Type</h3>
          </div>
          <div style="white-space: pre-line;">{{job.persona}}</div>
        </div>
    </div>
    <br>
    <div class="row">
        <div id="jobskills" class="col-sm-12 col-md-12">
          <div class="row">
            <h3>Key Skills</h3>
          </div>
          <div class="d-flex">
            <ul class="list-inline">
              <li ng-repeat="skill in job.skills" class="list-inline-item">
                {{skill.text}}
                <span ng-hide="$last">, </span>
              </li>
            </ul>
          </div>
        </div>
    </div>
  </div>
</div>

<div class="card container">
  <div class="card-body">
    <div class="row">
        <h2>Full Job Description</h2>
        <div id="jobdescription" class="col-12 blur">
          <div style="white-space: pre-line;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum non sapien nulla. Etiam vitae fringilla lacus. Sed ac fermentum enim, quis tempor massa. Nam egestas ipsum id fringilla lobortis. Etiam luctus accumsan euismod. Sed iaculis eros ut fermentum suscipit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis id est ut risus feugiat porta sit amet id augue.

            Donec justo nulla, sodales sed leo sed, fermentum molestie dui. Suspendisse nisl erat, commodo eu eros quis, scelerisque ullamcorper orci. Donec ultrices in neque a aliquet. Curabitur ac posuere arcu, eu rhoncus lectus. Praesent ac nibh a magna ullamcorper laoreet. Phasellus justo mi, ornare vel lobortis at, scelerisque ac urna. Aliquam euismod dapibus eros vitae placerat. Integer molestie sem vitae lacus sodales mollis.

            Pellentesque lorem quam, bibendum ac massa at, interdum iaculis nisi. Sed sodales purus magna, ut fermentum nulla semper nec. Nunc hendrerit enim sed purus auctor, ac ullamcorper felis dapibus. Vestibulum bibendum, enim vehicula rutrum viverra, lectus massa dictum erat, sit amet porta ipsum felis sed ligula. Integer nec tincidunt est, ac rhoncus tellus. Donec dui massa, mattis id dapibus in, tristique accumsan odio. Phasellus a facilisis eros, eget vulputate enim. Vestibulum imperdiet elementum tempor. Proin in vehicula tortor.

            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam sit amet consequat mauris, ac molestie justo. Maecenas imperdiet, odio id auctor tristique, eros augue molestie lorem, nec tempus nunc neque a odio. Integer cursus tincidunt ligula vel vulputate. Morbi vulputate ultricies ornare. Curabitur vel faucibus massa, sit amet tincidunt lorem. Nunc vestibulum laoreet felis. Integer iaculis augue vel bibendum dapibus. Sed mattis finibus urna at feugiat. Etiam ligula sapien, vehicula faucibus ipsum quis, dictum tristique libero.

            Suspendisse non enim non dolor imperdiet dictum sed elementum lorem. Integer porttitor nisl in varius dignissim. Etiam massa libero, volutpat a bibendum ut, faucibus vel mi. Morbi at libero imperdiet, venenatis tortor at, efficitur nisi. Suspendisse nulla lectus, suscipit vel luctus vel, aliquam ac risus. Sed vulputate erat et mi blandit, eu tincidunt ante congue. In quis lobortis nibh. Aenean ante metus, auctor et enim sed, lobortis porta neque. Phasellus varius nulla non nulla vehicula, non suscipit nisl accumsan. Suspendisse tincidunt, urna eget ornare eleifend, ex elit condimentum odio, eget accumsan sem odio sit amet velit. Nullam non vehicula augue. Nulla diam magna, dictum et lacus et, facilisis venenatis ipsum.
          </div>
        </div>
    </div>
  </div>
</div>

<div class="card container">
  <div class="card-body">
    <div class="row">

        <h2>How You Stack Up</h2>
        <div id="skillgap" class="col-12">
          <div class="row">
            <h3>We found a skill gap in the following (Click for Trainings!)</h3>
          </div>

          <div ng-repeat="gap in user.skillgaps">
            <div class="col-xs-12 col-sm-6 col-md-3 blur">
              <button type="button" class="btn btn-primary btn-block" data-toggle="collapse" data-target="#{{gap.value}}" disabled>{{gap.text}}</button>
            </div>
            <br>
            <br>
          </div>

        </div>
    </div>
  </div>
</div>

<div class="card container">
  <div class="card-body">
    <div class="row">
      <h3>Interested? Notify the Jobposter!</h3>
    </div>
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="blur-svg">
        <defs>
            <filter id="blur-filter">
                <feGaussianBlur stdDeviation="3"></feGaussianBlur>
            </filter>
        </defs>
    </svg>
    <div class="col-xs-12 col-sm-6 col-md-3 blur">
        <a class="link"> <button class="btn btn-info btn-block" type="button" disabled>Notify</button></a>
    </div>
  </div>
</div>

<!--/explore_job_view.html-->
