<!--home.html-->

<!-- When User Is Not Logged in -->
<div class="container" ng-hide="user.status">
    <div class="row">
        <div class="col-lg-6 col-md-12" ng-hide="user.status">
            <h2 class="title">What's wrong with traditional job hunting websites?</h2>
            <h5 class="description" ng-hide="user.status">
                Most traditional job websites only match at keyword level.
                <br>
                <br>
                This means candidates are not matched at a personal level.
                <br>
                <br>
                Most job search engines have no idea what a job seeker's personality or their aptitude for certain skills.
                <br>
                <br>
                Traditional job search websites are not asking the important questions.
            </h5>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="hero-images-container">
              <img src="assets/img/hero-image-1.png" alt="">
            </div>
        </div>
    </div>
</div>

<div class="container" ng-hide="user.status">
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <h2 class="title">What makes Pathfinder unique?</h2>
            <h5 class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                <br>
                <br>
                Vivamus ut erat eu lorem tincidunt varius.
                <br>
                <br>
                Cras sagittis urna vitae lorem vehicula consectetur.
                <br>
                <br>
                Sed vel risus eu tortor fermentum eleifend eget non nunc.
                <br>
                <br>
                Cras sagittis urna vitae lorem vehicula consectetur.
                <br>
                <br>
                Sed vel risus eu tortor fermentum eleifend eget non nunc.
            </h5>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="hero-images-container">
              <img src="assets/img/hero-image-2.png" alt="">
            </div>
        </div>
    </div>
</div>


<div class="container" ng-hide="user.status">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <h2 class="title">Convinced?</h2>
            <h3 class="description">
                Try us out, for free, without needing to sign up.
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <h4 class="title">Jobseekers</h2>
            <a href="#/explore/personas" class="btn btn-primary btn-lg">Explore Jobs</a>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <h4 class="title">Jobposters</h2>
            <a href="#/explore/talent" class="btn btn-primary btn-lg">Explore Talent</a>
        </div>
    </div>
</div>

<!-- /When User Is Not Logged in -->


<!-- When User Is Logged in -->
<div class="alert alert-warning" role="alert" ng-show="user.status && user.user.role == 'Jobseeker'">
    <div class="container">
        <div class="alert-icon">
            <i class="now-ui-icons ui-1_bell-53"></i>
        </div>
        <strong>Heads Up!</strong> Before you can do any job searching you must answer our quiz!<a href="#/quiz">Click Here!</a>
    </div>
</div>
<div class="alert alert-warning" role="alert" ng-show="user.status && user.user.role == 'Jobposter'">
    <div class="container">
        <div class="alert-icon">
            <i class="now-ui-icons ui-1_bell-53"></i>
        </div>
        <strong>Heads Up!</strong> Post a job by clicking here! <a href="#/post/job">Click Here!</a>
    </div>
</div>
<div class="row" ng-show="user.status">
    <div class="jumbotron col-12">
        <h2>Welcome, {{user.user.firstname}} {{user.user.lastname}}!</h2>
        <p>You are a {{user.user.role}}.</p>
        <p>You're logged in! Feel free to look around.</p>
    </div>
</div>

<!-- /When User Is Logged in -->

<!--/home.html-->
