<!--jobposter_job_view.html-->
<div class="alert alert-info" role="alert">
    <div class="container">
        <div class="alert-icon">
            <i class="now-ui-icons ui-1_bell-53"></i>
        </div>
        <strong>Heads Up!</strong> This is how jobseekers will view your listing! To make edits <a href ng-click="goToEditJob(job._id)">Click Here!</a>
    </div>
</div>
<div class="alert alert-info" role="alert">
    <div class="container">
        <div class="alert-icon">
            <i class="now-ui-icons ui-1_bell-53"></i>
        </div>
        <strong>Heads Up!</strong> We may have found some jobseekers! To view potential jobseekers <a class="link" href="#">Click Here!</a>
    </div>
</div>

<div class="card container">
  <div class="card-body d-flex h-100">
    <div class="row">
        <div id="companylogo" class="col-md-3">
          <img src="{{job.logourl}}" class="img-thumbnail img-raised"/>
        </div>
        <div id="jobtitle" class="col-md-9 align-middle">
          <h2>{{job.title}}</h2>
          <h3>{{job.company}} in {{job.city}}, {{job.state}}</h3>
        </div>
    </div>
  </div>
</div>

<div class="card container">
  <div class="card-body">
    <div class="row">
        <h2>At a glance...</h2>
        <div id="jobsummary" class="col-sm-12 col-md-12">
          <div class="row">
            <h3>Job Summary</h3>
          </div>
          <div style="white-space: pre-line;">{{job.summary}}</div>
        </div>
    </div>
    <br>
    <div class="row">
        <div id="jobtype" class="col-sm-12 col-md-12">
          <div class="row">
            <h3>Job Type</h3>
          </div>
          <div style="white-space: pre-line;">{{job.persona}}</div>
        </div>
    </div>
    <br>
    <div class="row">
        <div id="jobskills" class="col-sm-12 col-md-12">
          <div class="row">
            <h3>Key Skills</h3>
          </div>
          <div class="d-flex">
            <ul class="list-inline">
              <li ng-repeat="skill in job.skills" class="list-inline-item">
                {{skill.text}}
                <span ng-hide="$last">, </span>
              </li>
            </ul>
          </div>
        </div>
    </div>
  </div>
</div>

<div class="card container">
  <div class="card-body">
    <div class="row">
        <h2>Full Job Description</h2>
        <div id="jobdescription" class="col-12">
          <div style="white-space: pre-line;">{{job.description}}</div>
        </div>
    </div>
  </div>
</div>

<!--/jobposter_job_view.html-->
