<!--jobseeker_job_view.html-->
<div class="card container">
  <div class="card-body d-flex h-100">
    <div class="row">
        <div id="companylogo" class="col-md-3">
          <img src="{{job.CompanyLogo}}" class="rounded-circle img-raised"/>
        </div>
        <div id="jobtitle" class="col-md-9 align-middle">
          <h2>{{job.Job_Title}}</h2>
          <h3>{{job.Company}} in {{job.City}}, {{job.State}}</h3>
        </div>
    </div>
  </div>
</div>

<div class="card container">
  <div class="card-body">
    <div class="row">
        <h2>At a glance...</h2>
        <div id="jobsummary" class="col-sm-12 col-md-12">
          <div class="row">
            <h3>Job Summary</h3>
          </div>
          <div style="white-space: pre-line;">{{job.Job_Summary}}</div>
        </div>
    </div>
    <br>
    <div class="row">
        <div id="jobtype" class="col-sm-12 col-md-12">
          <div class="row">
            <h3>Job Type</h3>
          </div>
          <div style="white-space: pre-line;">{{job.Job_Type}}</div>
        </div>
    </div>
    <br>
    <div class="row">
        <div id="jobskills" class="col-sm-12 col-md-12">
          <div class="row">
            <h3>Key Skills</h3>
          </div>
          <div class="d-flex">
            <ul class="list-inline">
              <li ng-repeat="skill in job.Key_Skills" class="list-inline-item">
                {{skill.text}}
                <span ng-hide="$last">, </span>
              </li>
            </ul>
          </div>
        </div>
    </div>
  </div>
</div>

<div class="card container">
  <div class="card-body">
    <div class="row">
        <h2>Full Job Description</h2>
        <div id="jobdescription" class="col-12">
          <div style="white-space: pre-line;">{{job.Description}}</div>
        </div>
    </div>
  </div>
</div>

<div class="card container">
  <div class="card-body">
    <div class="row">

        <h2>How You Stack Up</h2>
        <div id="skillgap" class="col-12">
          <div class="row">
            <h3>We found a skill gap in the following (Click for Trainings!)</h3>
          </div>


          <div ng-repeat="gap in user.skillgaps">
            <div class="col-xs-12 col-sm-6 col-md-3">
              <button type="button" class="btn btn-primary btn-block" data-toggle="collapse" data-target="#{{gap.value}}">{{gap.text}}</button>
            </div>
            <div id="{{gap.value}}" class="collapse">
              <div ng-repeat="training in gap.trainings">
                <h4>{{training.title}}</h4>
                <a href="{{training.link}}" target="_blank">{{training.link}}</a>
              </div>
            </div>
            <br>
            <br>
          </div>

        </div>
    </div>
  </div>
</div>


<div class="card container">
  <div class="card-body">
    <div class="row">
      <h3>Interested?</h3>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        <button class="btn btn-info btn-block" type="button" ng-click="">Notify Jobposter</button>
    </div>
  </div>
</div>

<!--/jobseeker_job_view.html-->
