<!--jobseeker_jobs.html-->
<div class="row" id="header">
  <div class="col-md-12">
      <h2>Looking for {{user.industry}} jobs</h2>
  </div>
</div>

<div>


    <table class="table table-striped table-condensed table-hover">
        <thead>

            <tr>
                <th class="Company" custom-sort order="'Company'" sort="sort">Company&nbsp;</th>
                <th class="Job Title" custom-sort order="'Job_Title'" sort="sort">Job Title&nbsp;</th>
                <th class="City" custom-sort order="'City'" sort="sort">City&nbsp;</th>
                <th class="State" custom-sort order="'State'" sort="sort">State&nbsp;</th>
                <th class="Ranking" custom-sort order="'Ranking'" sort="sort">Ranking&nbsp;</th>
            </tr>
        </thead>
        <tfoot>
            <td colspan="12">
                <div>
                    <ul class="pagination pagination-primary">
                        <li class="page-item" ng-class="{disabled: currentPage == 0}">
                            <a class="page-link" href ng-click="prevPage()">« Prev</a>
                        </li>

                        <li class="page-item" ng-repeat="n in range(pagedItems.length, currentPage, currentPage + gap) "
                            ng-class="{active: n == currentPage}"
                        ng-click="setPage()">
                            <a class="page-link" href ng-bind="n + 1">1</a>
                        </li>

                        <li class="page-item" ng-class="{disabled: (currentPage) == pagedItems.length - 1}">
                            <a class="page-link" href ng-click="nextPage()">Next »</a>
                        </li>
                    </ul>
                </div>
            </td>

        </tfoot>
        <tbody>
            <tr ng-repeat="item in pagedItems[currentPage] | orderBy:sort.sortingOrder:sort.reverse" ng-click="goToJob(item.id)">
                <td>{{item.Company}}</td>
                <td>{{item.Job_Title}}</td>
                <td>{{item.City}}</td>
                <td>{{item.State}}</td>
                <td>{{item.Ranking}}</td>
            </tr>
        </tbody>
    </table>
</div>

<!--/jobseeker_jobs.html-->
