<!--personas.html-->
<div class="row" id="header">
  <div class="col-md-12">
      <h2>Industries</h2>
  </div>
</div>

<div class="container form">

  <div class="container">
      <!-- Persona Card -->
      <h2>Which Persona closely describes you?</h2>
      <div class="row">
        <form class="form-horizontal" novalidate ng-submit="submitForm()" name="selectPersonaForm">
          <fieldset>
            <!-- Persona Options -->
            <div class="d-none d-md-block">
              <ul class="nav nav-tabs justify-content-center image_section form-group" id="personas" role="tablist">
                  <li class="nav-item col-sm-12 col-md-3 col-lg-2">
                      <a class="nav-link active" data-toggle="tab" id="intern" data-target="#option1" role="tab">
                        <img src="assets/img/placeholderimg.png" alt="Thumbnail Image" class="rounded-circle img-raised d-none d-md-block">
                        <p>Intern</p>
                      </a>
                  </li>
                  <li class="nav-item col-sm-12 col-md-3 col-lg-2">
                      <a class="nav-link" data-toggle="tab" id="new_grad" data-target="#option2" role="tab">
                        <img src="assets/img/placeholderimg.png" alt="Thumbnail Image" class="rounded-circle img-raised d-none d-md-block">
                        <p>New Grad</p>
                      </a>
                  </li>
                  <li class="nav-item col-sm-12 col-md-3 col-lg-2">
                      <a class="nav-link" data-toggle="tab" id="fresher" data-target="#option3" role="tab">
                        <img src="assets/img/placeholderimg.png" alt="Thumbnail Image" class="rounded-circle img-raised d-none d-md-block">
                        <p>Fresher</p>
                      </a>
                  </li>
                  <li class="nav-item col-sm-12 col-md-3 col-lg-2">
                      <a class="nav-link" data-toggle="tab" id="experienced" data-target="#option4" role="tab">
                        <img src="assets/img/placeholderimg.png" alt="Thumbnail Image" class="rounded-circle img-raised d-none d-md-block">
                        <p>Experienced</p>
                      </a>
                  </li>
                  <li class="nav-item col-sm-12 col-md-3 col-lg-2">
                      <a class="nav-link" data-toggle="tab" id="unemployed" data-target="#option5" role="tab">
                        <img src="assets/img/placeholderimg.png" alt="Thumbnail Image" class="rounded-circle img-raised d-none d-md-block">
                        <p>Unemployed</p>
                      </a>
                  </li>
                  <li class="nav-item col-sm-12 col-md-3 col-lg-2">
                      <a class="nav-link" data-toggle="tab" id="other" data-target="#option6" role="tab">
                        <img src="assets/img/placeholderimg.png" alt="Thumbnail Image" class="rounded-circle img-raised d-none d-md-block">
                        <p>Other</p>
                      </a>
                  </li>
              </ul>
            </div>
            <select class="form-control d-md-none" id="tab_selector">
                <option value="0">Intern</option>
                <option value="1">New Grad</option>
                <option value="2">Fresher</option>
                <option value="3">Experienced</option>
                <option value="4">Unemployed</option>
                <option value="5">Other</option>
            </select>
            <!--/ Persona Options -->
            <div class="card-body">
                <!-- Tab panes -->
                <div class="tab-content text-center">
                    <div class="tab-pane active" id="option1" role="tabpanel">
                        <h2>Intern</h2>
                        <div class="offset-sm-3 col-sm-6 d-md-none">
                          <img src="assets/img/placeholderimg.png" alt="Thumbnail Image" class="rounded-circle img-raised">
                        </div>
                        <p>
                          I'm looking for an internship and have little to no experience. I'm looking at getting some experience under my belt for future job prospects!
                        </p>
                    </div>
                    <div class="tab-pane" id="option2" role="tabpanel">
                        <h2>New Grad</h2>
                        <div class="offset-sm-3 col-sm-6 d-md-none">
                          <img src="assets/img/placeholderimg.png" alt="Thumbnail Image" class="rounded-circle img-raised">
                        </div>
                        <p>
                          I just graduated from college and looking to land my first job. I have a degree but am lacking industry experience.
                        </p>
                    </div>
                    <div class="tab-pane" id="option3" role="tabpanel">
                        <h2>Fresher</h2>
                        <div class="offset-sm-3 col-sm-6 d-md-none">
                          <img src="assets/img/placeholderimg.png" alt="Thumbnail Image" class="rounded-circle img-raised">
                        </div>
                        <p>
                          I have some experience and looking for another job.
                        </p>
                    </div>
                    <div class="tab-pane" id="option4" role="tabpanel">
                        <h2>Experienced</h2>
                        <div class="offset-sm-3 col-sm-6 d-md-none">
                          <img src="assets/img/placeholderimg.png" alt="Thumbnail Image" class="rounded-circle img-raised">
                        </div>
                        <p>
                          I have a lot of experience and am looking for another job. I know the ins and outs of my area.
                        </p>
                    </div>
                    <div class="tab-pane" id="option5" role="tabpanel">
                        <h2>Unemployed</h2>
                        <div class="offset-sm-3 col-sm-6 d-md-none">
                          <img src="assets/img/placeholderimg.png" alt="Thumbnail Image" class="rounded-circle img-raised">
                        </div>
                        <p>
                          I've been unemployed long term and looking for a new job. Because of circumstances (i.e. being a stay at home parent, having difficulty finding a job, etc)
                        </p>
                    </div>
                    <div class="tab-pane" id="option6" role="tabpanel">
                      <h2>Other</h2>
                      <div class="offset-sm-3 col-sm-6 d-md-none">
                        <img src="assets/img/placeholderimg.png" alt="Thumbnail Image" class="rounded-circle img-raised">
                      </div>
                      <p>
                        I'm looking to change jobs to a completely different area!
                      </p>
                    </div>
                    <div class="form-group">
                      <button class="btn btn-default" ng-click="cancel()">Cancel</button>
                      <button class="btn btn-primary" type="submit">Sounds like me!</button>
                    </div>
                </div>
            </div>
          </fieldset>
        </form>
        <!-- End Persona Card -->



      </div>
  </div>

</div>

<!--/personas.html-->
