<!--quiz_resume.html-->
<div class="row" id="header">
  <div class="col-md-12">
      <h2>Quiz</h2>
  </div>
</div>

<div class="container">

  <div class="container">
    <!-- Resume Card -->
    <h2>Tell us about your relevant work experience/education/skills!</h2>
    <form class="form-horizontal needs-validation"  novalidate ng-submit="submitForm()" name="resumeForm" novalidate>
      <fieldset>


        <div class="row">
          <h3>Experience</h3>
          <button class="btn btn-primary btn-icon btn-round" type="button" ng-click="addExperience()">
            <i class="fa fa-plus"></i>
          </button>
        </div>

        <div ng-form="subFormExperience" ng-repeat="experience in user.experiences">

          <label>Company:</label><br>
          <input name="{{experience.id}}company"  class="form-control" ng-model="experience.company" type="text" required>

          <label>Role</label><br>
          <input name="{{experience.id}}role"  class="form-control" ng-model="experience.role" type="text" required>

          <div class="row">
            <div class="col-6">
              <label>Start Date:</label><br>
              <input class="form-control" type="text" ng-model="experience.startdate" required>
            </div>
            <div class="col-6">
              <label>End Date:</label><br>
              <input class="form-control" type="text" ng-model="experience.enddate", placeholder="Leave blank for present">
            </div>
          </div>

          <textarea class="form-control" ng-model="experience.description" rows="3" placeholder="Enter details here"></textarea>

          <button class="btn btn-danger" ng-click="removeExperience(experience.id)">Remove</button>
          <br><br>
        </div>

        <div class="row">
          <h3>Education</h3>
          <button class="btn btn-primary btn-icon btn-round" type="button" ng-click="addEducation()">
            <i class="fa fa-plus"></i>
          </button>
        </div>

        <div ng-form="subFormEducation" ng-repeat="education in user.educations">

          <label>Institute:</label><br>
          <input name="{{education.id}}institute"  class="form-control" ng-model="education.institute" type="text" required>

          <label>Degree:</label><br>
          <input name="{{education.id}}degree"  class="form-control" ng-model="education.degree" type="text" required>

          <div class="row">
            <div class="col-6">
              <label>Start Date:</label><br>
              <input class="form-control" type="text" ng-model="education.startdate" required>
            </div>
            <div class="col-6">
              <label>End Date:</label><br>
              <input class="form-control" type="text" ng-model="education.enddate", placeholder="Leave blank for present">
            </div>
          </div>

          <textarea class="form-control" ng-model="education.description" rows="3" placeholder="Enter details here"></textarea>

          <button class="btn btn-danger" ng-click="removeEducation(education.id)">Remove</button>
          <br><br>
        </div>

        <div class="row">
          <h3>Skills</h3>
        </div>

        <div class="fuelux">
          <div class="pillbox" data-initialize="pillbox" id="skillPillbox">
            <ul class="clearfix pill-group">
              <li class="pillbox-input-wrap btn-group">
                <a class="pillbox-more">and <span class="pillbox-more-count"></span> more...</a>
                <input type="text" class="form-control dropdown-toggle pillbox-add-item" placeholder="add item">
                <button type="button" class="dropdown-toggle sr-only">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
              </li>
            </ul>
          </div>
        </div>

        <br>
        <br>
        <div class="form-group">
          <button class="btn btn-default" ng-click="back()">Back</button>
          <button class="btn btn-primary" ng-disabled="resumeForm.$invalid" type="submit">Update</button>
        </div>

      </fieldset>
    </form>


    <!-- End Resume Card -->
  </div>

</div>

<!--/quiz_resume.html-->
