<!--industries.html-->
<div class="row" id="header">
  <div class="col-md-12">
      <h2>Quiz</h2>
  </div>
</div>

<div class="container">

  <div class="container">
    <!-- Personality Card -->
    <h2>Now for some personality questions!</h2>
    <form class="form-horizontal needs-validation"  novalidate ng-submit="submitForm()" name="personalityForm" novalidate>
      <fieldset>

          <div ng-form="subForm" ng-class="{'has-success': subForm.$valid }" ng-repeat="question in questions">
            <label for="{{question.id}}">{{question.id}} {{question.question}}</label><br>
            <textarea class="form-control" ng-model="field.model" name="{{question.id}}" rows="3" placeholder="Enter text here" required wordcount-validate="5"></textarea>
            <span ng-hide="subForm.$valid">Minimum # of words needed: {{subForm[question.id].$viewValue|wordCounter}}/5</span>
            <span ng-show="subForm.$valid">Word requirement met!</span>
            <br><br>
          </div>

          <div class="form-group">
            <button class="btn btn-default" ng-click="backToIndustries()">Back</button>
            <button class="btn btn-primary" ng-disabled="personalityForm.$invalid" type="submit">Submit</button>
          </div>

      </fieldset>
    </form>
      <!-- End Personality Card -->
  </div>

</div>

<!--/industries.html-->
