<!--quiz_personas.html-->
<div class="row" id="header">
  <div class="col-md-12">
      <h2>Quiz</h2>
  </div>
</div>

<div class="container form">

  <div class="card container">
      <!-- Persona Card -->
      <h2>Which Persona closely describes you?</h2>
      <div class="card-body row">
        <form class="form-horizontal" novalidate ng-submit="submitForm()" name="selectPersonaForm">
          <fieldset>
            <!-- Persona Options -->
            <div class="d-none d-md-block">
              <ul class="nav nav-tabs justify-content-center image_section form-group" id="personas" role="tablist">
                  <li class="nav-item col-sm-12 col-md-4 col-lg-3">
                      <a class="nav-link" ng-class="{active: user.persona == 'intern'}" data-toggle="tab" id="intern" data-target="#option1" role="tab">
                        <img src="assets/img/placeholderimg.png" alt="Thumbnail Image" class="rounded-circle img-raised d-none d-md-block">
                        <p>Looking for Internship</p>
                      </a>
                  </li>
                  <li class="nav-item col-sm-12 col-md-4 col-lg-3">
                      <a class="nav-link" ng-class="{active: user.persona == 'new_grad'}" data-toggle="tab" id="new_grad" data-target="#option2" role="tab">
                        <img src="assets/img/placeholderimg.png" alt="Thumbnail Image" class="rounded-circle img-raised d-none d-md-block">
                        <p>New College Grad</p>
                      </a>
                  </li>
                  <li class="nav-item col-sm-12 col-md-4 col-lg-3">
                      <a class="nav-link" ng-class="{active: user.persona == '0-2years'}" data-toggle="tab" id="0-2years" data-target="#option3" role="tab">
                        <img src="assets/img/placeholderimg.png" alt="Thumbnail Image" class="rounded-circle img-raised d-none d-md-block">
                        <p>0-2 Years Experience</p>
                      </a>
                  </li>
                  <li class="nav-item col-sm-12 col-md-4 col-lg-3">
                      <a class="nav-link" ng-class="{active: user.persona == '2-6years'}" data-toggle="tab" id="2-6years" data-target="#option4" role="tab">
                        <img src="assets/img/placeholderimg.png" alt="Thumbnail Image" class="rounded-circle img-raised d-none d-md-block">
                        <p>2-6 Years Experience</p>
                      </a>
                  </li>
                  <li class="nav-item col-sm-12 col-md-4 col-lg-3">
                      <a class="nav-link" ng-class="{active: user.persona == '6+years'}" data-toggle="tab" id="6+years" data-target="#option5" role="tab">
                        <img src="assets/img/placeholderimg.png" alt="Thumbnail Image" class="rounded-circle img-raised d-none d-md-block">
                        <p>6+ Years Experience</p>
                      </a>
                  </li>
              </ul>
            </div>
            <select class="form-control d-md-none" id="tab_selector">
                <option value="0" ng-selected="{{user.persona == 'intern'}}" >Looking For Internship</option>
                <option value="1" ng-selected="{{user.persona == 'new_grad'}}">New College Grad</option>
                <option value="2" ng-selected="{{user.persona == '0-2years'}}">0-2 Years Experience</option>
                <option value="3" ng-selected="{{user.persona == '2-6years'}}">2-6 Years Experience</option>
                <option value="4" ng-selected="{{user.persona == '6+years'}}" >6+ Years Experience</option>
            </select>
            <!--/ Persona Options -->
            <div class="card-body">
                <!-- Tab panes -->
                <div class="tab-content text-center" id="tabcontent">
                    <div class="tab-pane" ng-class="{active: user.persona == 'intern'}" id="option1" role="tabpanel">
                        <h2>Looking for Internship</h2>
                        <div class="offset-sm-3 col-sm-6 d-md-none">
                          <img src="assets/img/placeholderimg.png" alt="Thumbnail Image" class="rounded-circle img-raised">
                        </div>
                        <p>
                          I'm looking for an internship and have little to no experience. I'm looking at getting some experience under my belt for future job prospects!
                        </p>
                    </div>
                    <div class="tab-pane" ng-class="{active: user.persona == 'new_grad'}" id="option2" role="tabpanel">
                        <h2>New College Grad</h2>
                        <div class="offset-sm-3 col-sm-6 d-md-none">
                          <img src="assets/img/placeholderimg.png" alt="Thumbnail Image" class="rounded-circle img-raised">
                        </div>
                        <p>
                          I just graduated from college and looking to land my first job. I have a degree and am ready to join the workforce.
                        </p>
                    </div>
                    <div class="tab-pane" ng-class="{active: user.persona == '0-2years'}" id="option3" role="tabpanel">
                        <h2>1-3 Years Experience</h2>
                        <div class="offset-sm-3 col-sm-6 d-md-none">
                          <img src="assets/img/placeholderimg.png" alt="Thumbnail Image" class="rounded-circle img-raised">
                        </div>
                        <p>
                          I have some experience and am looking to change jobs.
                        </p>
                    </div>
                    <div class="tab-pane" ng-class="{active: user.persona == '2-6years'}" id="option4" role="tabpanel">
                        <h2>3+ Years Experience</h2>
                        <div class="offset-sm-3 col-sm-6 d-md-none">
                          <img src="assets/img/placeholderimg.png" alt="Thumbnail Image" class="rounded-circle img-raised">
                        </div>
                        <p>
                          I have plenty of experience and am looking to move to another job. I know the ins and outs of my area.
                        </p>
                    </div>
                    <div class="tab-pane" ng-class="{active: user.persona == '6+years'}" id="option5" role="tabpanel">
                        <h2>Unemployed (Long-Term)</h2>
                        <div class="offset-sm-3 col-sm-6 d-md-none">
                          <img src="assets/img/placeholderimg.png" alt="Thumbnail Image" class="rounded-circle img-raised">
                        </div>
                        <p>
                          I've been unemployed long term and looking for a new job. Because of circumstances I've been out of the workforce (i.e. being a stay at home parent, having difficulty finding a job, etc) for a while.
                        </p>
                    </div>
                    <div class="form-group">
                      <button class="btn btn-default" ng-click="cancel()">Cancel</button>
                      <button class="btn btn-primary" type="submit">Sounds like me!</button>
                    </div>
                </div>
            </div>
          </fieldset>
        </form>
        <!-- End Persona Card -->
      </div>
  </div>

</div>

<!--/quiz_personas.html-->
